/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ALFA 0
#define SMBL 1
#define FUNC 2
#define WARP 3
#define NAVI 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp >;
        };
    };

    chosen { zmk,matrix_transform = &layout_grid_transform; };

    keymap {
        compatible = "zmk,keymap";
        ALFA { bindings = <
            &kp ESC       &kp N1          &kp N2        &kp N3         &kp N4           &kp N5           &kp N6           &kp N7           &kp N8         &kp N9                &kp N0          &kp BACKSPACE
            &kp GRAVE     &kp Q           &kp W         &kp E          &kp R            &kp T            &kp Y            &kp U            &kp I          &kp O                 &kp P           &kp DELETE
            &kp CAPS      &hm LALT A      &hm LCTRL S   &hm LGUI D     &hm LSHIFT F     &kp G            &kp H            &hm RSHIFT J     &hm RGUI K     &hm RCTRL L           &hm RALT SEMI   &kp SQT
            &kp LA(ESC)   &kp Z           &kp X         &kp C          &kp V            &kp B            &kp N            &kp M            &kp COMMA      &kp DOT               &kp FSLH        &kp BSLH
            &kp LC(F1)    &kp LC(F3)      &kp LC(F2)    &mo WARP       &mo SMBL         &mo SMBL         &lt FUNC SPACE   &lt FUNC SPACE   &mo NAVI       &kp RS(RC(RA(RGUI)))  &kp C_VOL_DN    &kp C_VOL_UP
                >;
        };
        SMBL { bindings = <
            &none         &kp EXCL        &kp AT        &kp HASH       &kp DOLLAR       &kp PERCENT      &kp CARET        &kp AMPS         &kp QMARK      &kp PIPE              &kp STAR        &kp BACKSPACE
            &none         &none           &none         &none          &none            &none            &none            &kp UNDER        &kp LPAR       &kp RPAR              &kp KP_PLUS     &kp DELETE
            &none         &kp LALT        &kp LCTRL     &kp LGUI       &kp LSHIFT       &none            &none            &kp KP_EQUAL     &kp LBKT       &kp RBKT              &kp COLON       &kp DQT
            &none         &none           &none         &none          &none            &none            &none            &kp KP_MINUS     &kp LT         &kp GT                &kp QMARK       &kp PIPE
            &none         &none           &none         &none          &trans           &trans           &kp SPACE        &kp SPACE        &none          &none                 &kp C_BRI_DN    &kp C_BRI_UP
                >;
        };
        FUNC { bindings = <
            &none         &kp EXCL        &kp AT        &kp HASH       &kp DOLLAR       &kp PERCENT      &kp CARET        &kp AMPS         &kp LPAR       &kp RPAR              &kp STAR        &kp BACKSPACE
            &none         &kp F1          &kp F2        &kp F3         &kp F4           &none            &none            &none            &none          &none                 &none           &kp DELETE
            &none         &kp F5          &kp F6        &kp F7         &kp F8           &none            &none            &kp RSHIFT       &kp RGUI       &kp RCTRL             &kp RALT        &none
            &none         &kp F9          &kp F10       &kp F11        &kp F12          &none            &none            &none            &none          &none                 &none           &none
            &none         &none           &none         &none          &kp TAB          &kp TAB          &trans           &trans           &none          &none                 &none           &none
                >;
        };
        WARP { bindings = <
            &none         &none           &none         &none          &none            &none            &none            &none            &none          &none                 &none           &kp BACKSPACE
            &none         &none           &none         &none          &none            &none            &kp RG(RA(X))    &none            &kp UP         &none                 &kp ESC         &kp DELETE
            &none         &kp LALT        &kp LCTRL     &kp LGUI       &kp LSHIFT       &none            &kp RG(RA(C))    &kp LEFT         &kp DOWN       &kp RIGHT             &kp RG(RA(S))   &none
            &none         &none           &none         &none          &none            &none            &kp RG(RA(G))    &kp M            &kp COMMA      &kp DOT               &none           &none
            &none         &none           &none         &trans         &none            &none            &none            &none            &kp RET        &none                 &none           &none
                >;
        };
        NAVI { bindings = <
            &none         &none           &none         &none          &none            &none            &none            &none            &none          &none                 &none           &kp BACKSPACE
            &none         &none           &kp ESC       &kp UP         &kp M            &none            &none            &none            &none          &none                 &none           &kp DELETE
            &none         &none           &kp LEFT      &kp DOWN       &kp RIGHT        &none            &none            &kp RSHIFT       &kp RGUI       &kp RCTRL             &kp RALT        &none
            &none         &none           &kp LC(LEFT)  &kp LC(UP)     &kp LC(RIGHT)    &none            &none            &none            &none          &none                 &none           &none
            &none         &none           &none         &kp TAB        &none            &none            &none            &none            &trans         &none                 &none           &none
                >;
        };
    };
};
